@model Networking_Project.Models.User


@{
    ViewBag.Title = "ShowRegister";
}

<h2>ShowRegister</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client</title>
</head>
<body>
    <div>
        First Name : @Model.FirstName <br />
        Last Name : @Model.LastName <br />
        Phone Number : @Model.PhoneNumber <br />
        Email : @Model.Email <br />
        Password : @Model.Password <br />
        Birth Date : @Model.BirthDate <br />
    </div>
</body>
</html>
